<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer-content">
            <p><strong>(주)SPOTLIGHT 사업자 정보</strong></p>
            <p>대표: 가방끈</p>
            <p>사업자 등록번호: 215-87-87482</p>
            <p>통신판매업 신고번호: 제2025-대구-06966호</p>
            <p>주소: 대구광역시 달서구 달구벌대로 1095번지 공학 1호관(계명대학교)</p>
            <p>대표번호: 1533-7661</p>
            <p>메일: Spotlight@naver.com</p>
            <p><strong>Contact</strong>: SPOTLIGHT 관련 문의 | 광고 문의</p>
        </div>
    </footer>
</div>
</body>
</html>