<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 상세</title>
    <link rel="stylesheet" th:href="@{/nav.css}">
    <link rel="stylesheet" th:href="@{/detail.css}">

</head>
<body>
<!--    헤더 및 카테고리-->
    <div th:replace="~{nav.html :: navbar}"></div>

<!--    상품 상세 영역-->
    <div class="page-wrapper">
        <div class="detail-wrapper">
            <div class="detail-left">
                <div class="content-image">
                    <img th:if="${!itemData.images.isEmpty()}" th:src="${itemData.images[0].url}" width="300" height="300">
                    <img th:if="${itemData.images.isEmpty()}" src="https://placehold.co/300x300" width="300" height="300">
                </div>
            </div>

            <div class="detail-right">
                <div class="content-info">
                    <h2 th:text="${itemData.title}">상품명</h2>
                    <p>
                        <span th:text="${#numbers.formatInteger(itemData.price, 3, 'COMMA')} + '원'">가격</span>
                        <span class="badge-inspect">셀프검수</span>
                    </p>
                    <p th:text="${itemData.brand}">브랜드명</p>
                </div>

                <div class="detail-meta">
                    <div>제품상태: <strong>양호</strong></div>
                    <div>거래방식: <strong>직거래/택배</strong></div>
                    <div>배송비: <strong>별도</strong></div>
                </div>

                <div class="product-desc">
                    <h3>상품 소개</h3>
                    <p>한 번밖에 입지 않았고 체육 대회나 축제 때 인기 좋습니다.</p>
                </div>

                <form action="/order" method="POST" style="margin-top: 20px;">
                    <input name="title" th:value="${itemData.title}" hidden>
                    <input name="price" th:value="${itemData.price}" hidden>
                    <input name="count" placeholder="수량을 입력해주세요">
                    <button type="submit" class="order-button">주문하기</button>
                </form>
            </div>
        </div>

        <div class="detail-comment">
            <div class="content-comment" th:each="i : ${commentData}">
                <h2 th:text="${i.username}"></h2>
                <p th:text="${i.content}"></p>
                <p th:text="${i.created}"></p>
            </div>

            <div class="content-writer">
                <form action="/comment" method="POST">
                    <input name="content" placeholder="댓글을 입력하세요">
                    <input name="parent" th:value="${itemData.id}" style="display : none">
                    <button type="submit">전송</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>